<div class="container-md">
  <div class="row justify-content-md-center" style="margin-top: 150px">
    <h2>Person</h2><br>
  </div>
  <div class="row justify-content-md-center">
    <div *ngIf="message" class="alert alert-success" role="alert">
      {{ message }}
    </div>
  </div>

  <div class="row justify-content-md-center">
    <form *ngIf="!update" [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="vorname">Vorname</label>
        <input type="text" formControlName="vorname" class="form-control" />
      </div>
      <div class="form-group">
        <label for="nachname">Nachname</label>
        <input type="text" formControlName="nachname" class="form-control" />
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Speichern
        </button>
      </div>
    </form>

    <form *ngIf="update" [formGroup]="personForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="newOrt()">Neue Person</button>
      </div>
      <div class="form-group">
        <label for="vorname">Vorname</label>
        <input type="text" formControlName="vorname" [(ngModel)]="person.vorname" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="nachname">Nachname</label>
        <input type="text" formControlName="nachname" [(ngModel)]="person.nachname" class="form-control"/>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Person aktualisieren
        </button>
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>

  <div class="container">
    <div class="justify-content-md-center">
      <h2>Alle Personen</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of persons">
          <th scope="row">{{person.id}}</th>
          <td>{{person.vorname}}</td>
          <td>{{person.nachname}}</td>
          <td><button class="btn" (click)="updateElement(person)"><i class="fa fa-pencil"></i></button></td>
          <td><button class="btn" (click)="deleteElement(person.id)"><i class="fa fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


